
/* IT 301 UKH CMS CSS Style file */ 
#button {    /* menu style*/  
	width: 16em;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #90bade;

}

#button ul { /* menu listing style */  
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#button li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	list-style: none;
	list-style-image: none;
}
	
#button li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #button li a {
	width: auto;
}

#button li a:hover { /* menu mouse over effect */  
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}


body {
font-family:tahoma;
font-size:11px;
background:#FFF;
color:#000;
margin:4px;
padding:0;
}

.okmsg { /* style for settings was approved */  
font-weight:bold;
color:#0000FF;
}

.badmsg { /* style for settings was not approved */  
font-weight:bold;
color:#FF0000;
}

td {
font-family:tahoma;
font-size:9pt;
}

.noborder {
border:0px none;
}

input, textarea, select { /* style for the text areas and input text */  
background:#FAFAFA;
color:#000;
text-indent:2px;
font-size:11px;
font-family:tahoma;
text-decoration:none;
border-color:#7CA5C9;
border-width:1px;
}

A:hover {
color:#F50;
text-decoration:none;
}

a:link, a:active, a:visited {
color:#2666B9;
text-decoration:none;
}
.marquee{   /* style for marquee header */  

	background-color: #4476A1;

}
